<%= form_for([:admin, @admin_menu]) do |f| %>
	<% if @admin_menu.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@admin_menu.errors.count, "error") %> prohibited this admin_menu from being saved:</h2>

			<ul>
				<% @admin_menu.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :title %>
		<br>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :published %>
		<br>
		<%= f.check_box :published %>
	</div>
	<div class="field">
		<%= f.label :is_default_menu %>
		<br>
		<%= f.check_box :is_default_menu %>
	</div>
	<div class="field">
		<%= f.label :site %>
		<br>
		<%= f.collection_select :site_id, Odania::Site.order_by([:name, :asc]), :id, :name %>
	</div>
	<div class="field">
		<%= f.label :language_id %>
		<br>
		<%= f.collection_select :language_id, Odania::Language.order_by([:name, :asc]), :id, :name %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
