<%= form_for([:admin, @admin_menu]) do |f| %>
	<%= render partial: 'odania/shared/errors', locals: {obj: @admin_menu} %>

	<div class="field">
		<%= f.label :title %>
		<br/>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :published %>
		<br/>
		<%= f.check_box :published %>
	</div>
	<div class="field">
		<%= f.label :site %>
		<br/>
		<%= f.collection_select :site_id, Odania::Site.order('name ASC'), :id, :name %>
	</div>
	<div class="field">
		<%= f.label :language_id %>
		<br/>
		<%= f.collection_select :language_id, Odania::Language.order('name ASC'), :id, :name %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
