<h1>Listing admin_menus</h1>

<table>
	<thead>
	<tr>
		<th>Title</th>
		<th>Published</th>
		<th>Site</th>
		<th>Language</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>

	<tbody>
	<% @admin_menus.each do |admin_menu| %>
		<tr>
			<td><%= admin_menu.title %></td>
			<td><%= admin_menu.published %></td>
			<td><%= admin_menu.site.name %></td>
			<td><%= admin_menu.language.iso_639_1 %></td>
			<td><%= link_to 'Show', admin_odania_menu_path(admin_menu) %></td>
			<td><%= link_to 'Edit', edit_admin_odania_menu_path(admin_menu) %></td>
			<td><%= link_to 'Destroy', admin_odania_menu_path(admin_menu), method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Menu', new_admin_odania_menu_path %>
