<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @admin_menu.title %>
</p>

<p>
	<strong>Published:</strong>
	<%= @admin_menu.published %>
</p>

<p>
	<strong>Site:</strong>
	<%= @admin_menu.site %>
</p>

<p>
	<strong>Language:</strong>
	<%= @admin_menu.language %>
</p>

<%= link_to 'Edit', edit_admin_odania_menu_path(@admin_menu) %> |
<%= link_to 'Back', admin_odania_menus_path %>
