<%= form_for(@admin_language, url: admin_language_path(id: @admin_language._id)) do |f| %>
	<% if @admin_language.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@admin_language.errors.count, "error") %> prohibited this admin_language from being
				saved:</h2>

			<ul>
				<% @admin_language.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :name %>
		<br>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :iso_639_1 %>
		<br>
		<%= f.text_field :iso_639_1 %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
