<div class="well">
	<h3><%= t('admin.views.tags_selection.title') %></h3>

	<div class="form-group">
		<div class="tag-selection">
			<input type="text" data-ng-model="addTagInput" name="tag_ids" />
			<button class="btn btn-default" data-ng-click="addToArray(<%= key %>.tagSelection, addTagInput);">
				<%= t('admin.views.tags_selection.add_tag_button') %>
			</button>
			<div class="help-block"><%= t('admin.views.tags_selection.tag_input_help') %></div>

			<p class="form-control">
			<span data-ng-repeat="tag in <%= key %>.tagSelection">
				<a data-ng-click="<%= key %>.tagSelection.splice($index, 1);">
					<i class="fa fa-minus-square"></i>
				</a> {{ tag }}
			</span>
			</p>
		</div>
	</div>

	<span data-ng-if="errors.tags" style="color: red;">{{ printErrors(errors.tags) }}</span>
</div>
