<div class="container-fluid" data-ng-controller="SideMenuController">
	<div data-ng-if="currentSite">
		<%= t('admin.menu.selected_site') %>:
		<select data-ng-model="current.siteId" data-ng-change="changedSite()" data-ng-options="site.id as site.name for site in sites"></select>

		<select data-ng-model="current.menuId" data-ng-change="changedMenu()" data-ng-options="menu.id as getLanguage(menu.language_id).iso_639_1 for menu in currentSite.menus"></select>

		&nbsp;&nbsp;<a href="#!/sites/{{ current.siteId }}/edit">Edit</a>
	</div>
	<div data-ng-if="!currentSite">
		<%= t('admin.menu.no_site_defined') %>
	</div>
	<br/>
	<%= content_for?(:admin_selection) ? yield(:admin_selection) : '' %>

	<div class="nav-collapse">
		<% Odania.admin.pages.each_pair do |category, pages| %>
			<% unless :global.eql? category %>
			<div data-ng-if="currentSite">
			<h3><%= t("admin.menu.categories.#{category}") %></h3>
			<ul class="nav nav-list">
				<% pages.each do |admin_page| %>
					<% if admin_page[:in_menu] %>
						<li><%= link_to t("admin.menu.#{admin_page[:name]}"), "##{admin_page[:path]}" %></li>
					<% end %>
				<% end %>
			</ul>
			</div>
			<% end %>
		<% end %>
	</div>
</div>
