<div class="container-fluid">
	<%= form_tag({}, {method: 'get'}) do %>
		<%= collection_select(:site, :id, Odania::Site.order('name ASC'), :id, :name, selected: session[:site_id]) %>
		<%= submit_tag 'Select' %>
	<% end %>
	<br/>
	<%= form_tag(select_odania_menu_admin_odania_menus_path(return_to: request.path)) do %>
		<%= collection_select(:menu, :id, Odania::Menu.order('title ASC'), :id, :title, selected: @odania_menu.id) %>
		<%= submit_tag 'Select' %>
	<% end %>
	<br/>
	<%= content_for?(:admin_selection) ? yield(:admin_selection) : '' %>

	<div class="nav-collapse">
		<ul class="nav nav-list">
			<% Odania.admin.admin_pages.each do |admin_page| %>
				<li><%= link_to admin_page[:name], admin_page[:path] %></li>
			<% end %>
		</ul>
	</div>
</div>
