<!--
@req_url: <%= @req_url %>
@req_host: <%= @req_host %>
@domain: <%= @domain %>
@subdomain: <%= @subdomain %>
-->

<% @hits.each do |hit|
	source = hit['_source'] %>
	<ul>
		<li><%= link_to source['title'], source['path'] %></li>
	</ul>
<% end %>
