<% cache(:expires_in => 1.hour) do
	path = odania_content_path(id: odania_content.to_param)
	%>
	<div class="entry hentry">
		<h2 class="entry-title"><%= link_to odania_content.title, path, {:class => 'bookmark', :rel => 'tag'} %></h2>

		<%= render :partial => 'odania/contents/content_info', :locals => {odania_content: odania_content} %>

		<p class="entry-summary">
			<%= odania_content.body_short.html_safe %>
		</p>

		<p>
			<%= link_to (t('Read more')+' &raquo;').html_safe, path, {class: 'btn btn-primary'} %>
		</p>

		<%= render :partial => 'odania/tags/tagged_as', :locals => {odania_content: odania_content} %>
	</div>
<% end %>
