<h1>Listing odania_contents</h1>

<table>
	<thead>
	<tr>
		<th>Title</th>
		<th>Body short</th>
		<th>Clicks</th>
		<th>Views</th>
		<th>Publish at</th>
		<th></th>
	</tr>
	</thead>

	<tbody>
	<% @odania_contents.each do |odania_content| %>
		<tr>
			<td><%= odania_content.title %></td>
			<td><%= odania_content.body_short.html_safe %></td>
			<td><%= odania_content.clicks %></td>
			<td><%= odania_content.views %></td>
			<td><%= odania_content.published_at %></td>
			<td><%= link_to 'Show', odania_content %></td>
		</tr>
	<% end %>
	</tbody>
</table>
