<% content_for :title do %><%= @odania_content.title %> - <%= current_site.name.html_safe %>
<% end %>

<div class="entry hentry">
	<h1 class="entry-title">
		<a class="bookmark" href="<%= odania_content_path(id: @odania_content.to_param) %>" rel="tag" target="_blank">
			<%= @odania_content.title %>
		</a>
	</h1>

	<%= render :partial => 'odania/contents/content_info', :locals => {odania_content: @odania_content} %>

	<p class="entry-content">
		<%= @odania_content.body_filtered.html_safe %>
	</p>
</div>

<%= render :partial => 'odania/shared/update_view_counter', :locals => {obj: @odania_content} %>
