<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @odania_content.title %>
</p>

<p>
	<strong>Body:</strong>
	<%= @odania_content.body.html_safe %>
</p>

<p>
	<strong>Clicks:</strong>
	<%= @odania_content.clicks %>
</p>

<p>
	<strong>Views:</strong>
	<%= @odania_content.views %>
</p>

<p>
	<strong>Publish at:</strong>
	<%= @odania_content.published_at %>
</p>

<%= link_to 'Back', odania_contents_path %>
