<!--
@req_url: <%= @req_url %>
@req_host: <%= @req_host %>
@domain: <%= @domain %>
@subdomain: <%= @subdomain %>
-->

<% @hits.each do |hit|
	source = hit['_source'] %>
	<div>
		<%= "D: #{source.domain} S: #{source.subdomain} U: #{source.url}" %>
		<%= link_to source.url, source.url %>
	</div>
<% end %>
