<div class="row">
	<div class="col-md-12">
		<h1><%= t('admin.views.dashboard.title') %></h1>

		<p><%= t('admin.views.dashboard.welcome_text') %></p>
	</div>

	<div class="col-md-6">
		<h2><%= t('admin.views.dashboard.get_started.title') %></h2>

		<ol>
			<li><%= link_to t('admin.views.dashboard.get_started.create_site_link'), '#!/sites' %></li>
			<li><%= link_to t('admin.views.dashboard.get_started.create_content_link'), '#!/contents/new' %></li>
		</ol>
	</div>

	<div class="col-md-6">
		<h2><%= t('admin.views.dashboard.additional_links.title') %></h2>

		<ul>
			<li><%= link_to t('admin.views.dashboard.get_started.manage_site_link'), '#!/sites' %></li>
		</ul>
	</div>
</div>
