<h1><%= t('odania.Contact') %></h1>

<p>
	<%= form_tag contact_path(locale: I18n.locale.to_s) do %>
	<div class="form-group">
		<label for="inputName"><%= t('odania.name') %>:</label>
		<input type="text" class="form-control" id="inputName" placeholder="Name" name="<%= @contact_post_name %>[contact_name]"/>
	</div>

	<div class="form-group">
		<label for="inputEmail"><%= t('odania.email') %>:</label>
		<input type="email" class="form-control" id="inputEmail" placeholder="Email" name="<%= @contact_post_name %>[email]"/>
	</div>

	<div class="form-group">
		<label for="inputMessage"><%= t('odania.ContactText') %>:</label>
		<textarea class="form-control" rows="10" id="inputMessage" placeholder="Message" name="<%= @contact_post_name %>[body]"></textarea>
	</div>

	<button type="submit" class="btn btn-default"><%= t('odania.send') %></button>
<% end %>
</p>
