<div class="well">
	<h3><%= t('admin.views.categories_selection.title') %></h3>

	<div class="form-group">
		<span data-ng-if="data.categories.length == 0"><%= t('admin.views.categories_selection.no_categories') %></span>

		<div class="categories-selection">
			<span class="form-control" data-ng-repeat="category in categories">
				<input type="checkbox" data-ng-model="<%= key %>.category_selection[category.title]" name="category_ids" /> {{ category.title }}
			</span>
		</div>
	</div>

	<hr/>
	<div data-ng-controller="CategorySelectionController">
		<a data-ng-click="addCategory = !addCategory;"><%= t('admin.views.categories_selection.add_category') %></a>

		<div data-ng-if="addCategory">
			<div class="form-group">
				<label class="col-sm-2 control-label"><%= t('models.category.title.name') %></label>

				<div class="col-sm-10">
					<input type="text" data-ng-model="newCategory.title" class="form-control"/>
					<span data-ng-if="errors.title" style="color: red;">{{ printErrors(errors.title) }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><%= t('models.category.parent_id.name') %></label>

				<div class="col-sm-10">
					<select data-ng-model="newCategory.parent_id" data-ng-options="category.id as category.title for category in categories" class="form-control">
						<option value=""><%= t('models.category.parent_id.first_option') %></option>
					</select>
					<span data-ng-if="errors.parent_id" style="color: red;">{{ printErrors(errors.parent_id) }}</span>
				</div>
			</div>

			<button class="btn btn-default" data-ng-click="addNewCategory()"><%= t('admin.views.categories_selection.add_category_button') %></button>
		</div>
	</div>

	<span data-ng-if="errors.category_ids" style="color: red;">{{ printErrors(errors.category_ids) }}</span>
</div>
