<div class="well">
	<h3><%= t('admin.views.categories_selection.title') %></h3>

	<div class="form-group">
		<input type="checkbox" data-ng-repeat="category.id as category.name for category in data.categories" data-ng-model="<%= key %>.category_id"/>
	</div>

	<div>
		<a data-ng-click="addCategory = !addCategory;"><%= t('admin.views.categories_selection.add_category') %></a>

		<div data-ng-if="addCategory">
			<div class="form-group">
				<label class="col-sm-2 control-label"><%= t('models.category.title.name') %></label>

				<div class="col-sm-10">
					<input type="text" data-ng-model="newCategory.name" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><%= t('models.category.parent_id.name') %></label>

				<div class="col-sm-10">
					<select data-ng-model="newCategory.parent_id" data-ng-options="category.id as category.name for category in data.categories" class="form-control"></select>
				</div>
			</div>

			<button class="btn btn-default" data-ng-click="addNewCategory()"><%= t('admin.views.categories_selection.add_category_button') %></button>
		</div>
	</div>

	<span data-ng-if="errors.category_ids" style="color: red;">{{ printErrors(errors.category_ids) }}</span>
</div>
