<!DOCTYPE html>
<html ng-app="odaniaPortalAdmin">
<head>
	<title>OdaniaCore</title>
	<%= stylesheet_link_tag 'odania_core_admin/application', media: 'all' %>
	<%= javascript_include_tag 'odania_core_admin/application' %>
	<%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/dashboard">Odania</a>
		</div>

		<div class="collapse navbar-collapse pull-left">
			<ul class="nav navbar-nav">
				<% Odania.admin.pages[:global].each do |admin_page| %>
					<% if admin_page[:in_menu] %>
						<li><%= link_to t("admin.menu.#{admin_page[:name]}"), "##{admin_page[:path]}" %></li>
					<% end %>
				<% end %>
			</ul>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><%= language_flag(current_user.language) %><span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<% Odania::Language.order('iso_639_1 ASC').each do |language| %>
						<li>
							<a data-ng-click="changeLanguage(<%= language.id %>)"><%= language_flag(language) %></a>
						</li>
					<% end %>
				</ul>
			</li>

			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><%= current_user.name %><span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#/profile"><%= t('admin.menu.Profile') %></a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-3" style="margin-top: 60px;">
			<div class="well sidebar-nav">
				<%= render partial: 'admin/odania/shared/menu' %>
			</div>
		</div>

		<div class="col-md-9 hfeed" style="margin-top: 60px;" ng-view>
			<%= render :partial => 'odania/shared/flashes' %>
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
