<!DOCTYPE html>
<html ng-app="odaniaPortalAdmin">
<head>
	<title>OdaniaCore</title>
	<%= stylesheet_link_tag 'odania_core_admin/application', media: 'all' %>
	<%= javascript_include_tag 'odania_core_admin/application' %>
	<%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-3" style="margin-top: 60px;">
			<div class="well sidebar-nav">
				<%= render partial: 'admin/odania/shared/menu' %>
			</div>
		</div>

		<div class="col-md-9 hfeed" style="margin-top: 60px;" ng-view>
			<%= render :partial => 'odania/shared/flashes' %>
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
