<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? strip_tags(yield(:title)) : strip_tags(current_site.name) %></title>
	<meta name="language" content="<%= I18n.locale.to_s %>"/>
	<%= stylesheet_link_tag 'odania_core/application', media: 'all' %>
	<%= javascript_include_tag 'odania_core/application' %>
	<%= csrf_meta_tags %>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Mike Petersen Odania IT">
</head>
<body>


<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><%= current_site.name %></a>
		</div>
		<div class="navbar-collapse collapse">
			<%= render partial: 'odania/shared/menu' %>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('Language') %> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<%= render partial: 'odania/shared/menu_selector' %>
					</ul>
				</li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-9 hfeed">
			<%= render :partial => 'odania/shared/flashes' %>
			<%= yield %>
		</div>
	</div>
</div>

<%= current_site.tracking_code.html_safe %>
</body>
</html>
