<%= form_for([:admin, @admin_site]) do |f| %>
	<%= render partial: 'odania/shared/errors', locals: {obj: @admin_site} %>

	<div class="field">
		<%= f.label :name %>
		<br/>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :host %>
		<br/>
		<%= f.text_field :host %>
	</div>
	<div class="field">
		<%= f.label :is_active %>
		<br/>
		<%= f.check_box :is_active %>
	</div>
	<div class="field">
		<%= f.label :is_default %>
		<br/>
		<%= f.check_box :is_default %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<br/>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :default_language_id %>
		<br/>
		<%= f.collection_select :default_language_id, Odania::Language.order('name ASC'), :id, :name %>
	</div>
	<div class="field">
		<%= f.label :default_from_email %>
		<br/>
		<%= f.text_field :default_from_email %>
	</div>
	<div class="field">
		<%= f.label :notify_email_address %>
		<br/>
		<%= f.text_field :notify_email_address %>
	</div>
	<div class="field">
		<%= f.label :redirect_to_id %>
		<br/>
		<%= f.collection_select :redirect_to_id, Odania::Site.order('name ASC'), :id, :name, {include_blank: true} %>
	</div>
	<div class="field">
		<%= f.label :template %>
		<br/>
		<%= f.select :template, Odania.templates_for_select, {include_blank: true} %>
	</div>
	<div class="field">
		<%= f.label :tracking_code %>
		<br/>
		<%= f.text_area :tracking_code %>
	</div>
	<div class="field">
		<%= f.label :imprint %>
		<br/>
		<%= f.text_area :imprint %>
	</div>
	<div class="field">
		<%= f.label :terms_and_conditions %>
		<br/>
		<%= f.text_area :terms_and_conditions %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
