<h1>Listing admin_sites</h1>

<table class="table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Host</th>
		<th>Is active</th>
		<th>Is default</th>
		<th>Template</th>
		<th>Default Language</th>
		<th>Language</th>
		<th>Redirect to</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>

	<tbody>
	<% @admin_sites.each do |admin_site| %>
		<tr>
			<td><%= admin_site.name %></td>
			<td><%= admin_site.host %></td>
			<td><%= icon_for_bool(admin_site.is_active) %></td>
			<td><%= icon_for_bool(admin_site.is_default) %></td>
			<td><%= admin_site.get_template_name %></td>
			<td><%= admin_site.default_language.iso_639_1 %></td>
			<td><%= list_languages(admin_site.get_languages) %></td>
			<td><%= admin_site.redirect_to.nil? ? '-' : admin_site.redirect_to.name %></td>
			<td><%= link_to 'Show', admin_odania_site_path(admin_site) %></td>
			<td><%= link_to 'Edit', edit_admin_odania_site_path(admin_site) %></td>
			<td><%= link_to 'Destroy', admin_odania_site_path(admin_site), method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Site', new_admin_odania_site_path %>
