<div class="widget well">
	<h4><%= t('odania.Newsletter') %></h4>

	<form action="<%= content[:url] %>" method="post">
		<p>
			<%= content[:header] %>
		</p>

		<p>
			<label for="ui_email"><%= t('odania.email') %></label>
			<input type="text" name="contact_list_contact[email]" id="ui_email"/><br/>
			<input type="submit" name="ui_submit" value="<%= t('odania.Sign up') %>" id="ui_submit"/>
		</p>

		<p>
			<small>
				<%= t('odania.newsletter_not_give_away') %>
			</small>
		</p>
	</form>
</div>
