<% content_for :title do %><%= @static_page.title %> - <%= current_site.name.html_safe %>
<% end %>

<div class="entry hentry">
	<h1 class="entry-title">
		<a class="bookmark" href="<%= static_page_path(id: @static_page.to_param) %>" rel="tag" target="_blank">
			<%= @static_page.title %>
		</a>
	</h1>

	<%= render :partial => 'odania/static_pages/static_page_info', :locals => {static_page: @static_page} %>

	<p class="entry-content">
		<%=raw @static_page.body %>
	</p>
</div>

<%= render :partial => 'odania/shared/update_view_counter', :locals => {obj: @static_page} %>
