<footer>
	<div class="container">
		<div class="row">
			<div class="span12">

				<div class="row">

					<div class="col-md-4">
						<div class="widget">
							<h5><%= t('odania.Additional Information') %></h5>
							<hr/>
							<div class="two-col">
								<div class="col-left">
									<ul>
										<li><%= link_to t('odania.Contact'), contact_path(locale: I18n.locale.to_s) %></li>
										<li><%= link_to t('odania.Imprint'), imprint_path(locale: I18n.locale.to_s) %></li>
									</ul>
								</div>
								<div class="col-right">
									<ul>
										<li><%= link_to t('odania.Terms and Conditions'), terms_and_conditions_path(locale: I18n.locale.to_s) %></li>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div>

							<hr/>
							<div class="social">
								<% if current_site.social %>
									<% if current_site.social['facebook'] %>
										<a href="<%= current_site.social['facebook'] %>" target="_blank">
											<i class="fa fa-facebook"></i>
										</a>
									<% end %>
									<% if current_site.social['twitter'] %>
										<a href="<%= current_site.social['twitter'] %>" target="_blank">
											<i class="fa fa-twitter"></i>
										</a>
									<% end %>
									<% if current_site.social['google_plus'] %>
										<a href="<%= current_site.social['google_plus'] %>" target="_blank">
											<i class="fa fa-google-plus"></i>
										</a>
									<% end %>
									<% if current_site.social['linked_in'] %>
										<a href="<%= current_site.social['linked_in'] %>" target="_blank">
											<i class="fa fa-linkedin"></i>
										</a>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="widget">
							<h5><%= t('odania.About Us') %></h5>
							<hr/>
							<p><%=raw current_site.description %></p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="widget">
							<h5><%= t('odania.Partners') %></h5>
							<hr/>
							<div class="two-col">
								<div class="col-left">
									<ul>
										<li><a href="http://www.onlinegames-info.com">The Onlinegaming Community</a></li>
										<li><a href="http://www.perfect-reach.com/">Perfect Reach - Free Online Advertising</a>
										</li>
									</ul>
								</div>
								<div class="col-right">
									<ul>
										<li><a href="http://www.planetech.de/">Planetech - SciFi Browsergame</a></li>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

				</div>

				<hr/>
				<!-- Copyright info -->
				<p class="copy">
					<a href="http://www.odania-it.com">&copy;<%= Time.now.year %> Mike Petersen Odania IT</a>

					<span class="pull-right"><a href="http://www.odania.com" target="_blank">powered by Odania - Portal</a></span>
				</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</footer>

<%=raw current_site.tracking_code %>
