<%= form_for([:admin, @odania_menu, @odania_menu_item]) do |f| %>
	<%= render partial: 'odania/shared/errors', locals: {obj: @odania_menu_item} %>

	<div class="field">
		<%= f.label :title %>
		<br/>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :published %>
		<br/>
		<%= f.check_box :published %>
	</div>
	<div class="field">
		<%= f.label :target_type %>
		<br/>
		<%= f.select :target_type, Odania::TargetType.targets.keys %>
	</div>


	<% unless Odania::TargetType.targets[@odania_menu_item.target_type][:selector].blank? %>
		<%= render partial: Odania::TargetType.targets[@odania_menu_item.target_type][:selector], locals: {menu_item: @odania_menu_item} %>
	<% end %>

	<div class="field">
		<%= f.label :parent_id %>
		<br/>
		<%= f.collection_select :parent_id, Odania::MenuItem.order('title ASC'), :id, :title, {include_blank: true} %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
