<h1>Listing odania_menu_items</h1>

<table class="table">
	<thead>
	<tr>
		<th></th>
		<th>Title</th>
		<th>Published</th>
		<th>Target type</th>
		<th>Target date</th>
		<th>Parent</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>

	<tbody>
	<% @odania_menu_items.each do |odania_menu_item| %>
		<tr>
			<td><%= link_to star_icon_for_bool(@odania_menu.default_menu_item_id.eql?(odania_menu_item.id)), set_default_admin_odania_menu_odania_menu_item_path(menu_id: @odania_menu.id.to_s, id: odania_menu_item.id.to_s) %></td>
			<td><%= odania_menu_item.title %></td>
			<td><%= odania_menu_item.published %></td>
			<td><%= odania_menu_item.target_type %></td>
			<td><%= odania_menu_item.target_data %></td>
			<td><%= odania_menu_item.parent_id.nil? ? '-' : odania_menu_item.parent.title %></td>
			<td><%= link_to 'Show', admin_odania_menu_odania_menu_item_path(@odania_menu, odania_menu_item) %></td>
			<td><%= link_to 'Edit', edit_admin_odania_menu_odania_menu_item_path(@odania_menu, odania_menu_item) %></td>
			<td><%= link_to 'Destroy', admin_odania_menu_odania_menu_item_path(@odania_menu, odania_menu_item), method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Menu item', new_admin_odania_menu_odania_menu_item_path %>
