<p>
	<strong>Title:</strong>
	<%= @odania_menu_item.title %>
</p>

<p>
	<strong>Published:</strong>
	<%= @odania_menu_item.published %>
</p>

<p>
	<strong>Target type:</strong>
	<%= @odania_menu_item.target_type %>
</p>

<p>
	<strong>Target date:</strong>
	<%= @odania_menu_item.target_data %>
</p>

<p>
	<strong>Parent:</strong>
	<%= @odania_menu_item.parent %>
</p>

<%= link_to 'Edit', edit_admin_odania_menu_odania_menu_item_path(@odania_menu, @odania_menu_item) %> |
<%= link_to 'Back', admin_odania_menu_odania_menu_items_path %>
