<%= form_for([:admin, @admin_language]) do |f| %>
	<%= render partial: 'odania/shared/errors', locals: {obj: @admin_language} %>

	<div class="field">
		<%= f.label :name %>
		<br/>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :iso_639_1 %>
		<br/>
		<%= f.text_field :iso_639_1 %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
